:root {
  --colorNavy: #005373;
  --colorLightGrey: #f9f9f9;
  --colorDarkGrey: rgb(66, 66, 66);
}

.App {
  text-align: center;
}

.App-header {
  background-color: rgb(66, 66, 66);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

* {
  font-size: 13px;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

.App-logo-container {
  margin: 10px;
}

.App-logo {
  height: 26px;
  margin: 5px;
}

.catalogs-container {
  display: flex;
  width: 80%;
  margin: 30px auto;
}

.each-catalog-container {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 450px;
  background-color: #f9f9f9;
  border: 1px solid rgba(200, 200, 200, 0.2);
  transition: transform 0.3s;
  box-shadow: 2px 2px 1px 1px rgba(128, 128, 128, 0.08), 3px 3px 2px 2px rgba(128, 128, 128, 0.06);
}

.each-catalog-container img {
  width: 230px;
  margin: 10px auto;
}

.each-catalog-container:hover {
  transform: scale(1.03);
}

.title {
  color: var(--colorNavy);
  font-weight: bold;
  font-size: 15px;
}

.back-button-container {
  width: 80%;
  margin: 30px auto;
}

button {
  color: white;
  background-color: var(--colorNavy);
  font-weight: bold;
  padding: 8px 20px;
  border: 2px solid var(--colorNavy);
  box-shadow: 2px 2px 1px 1px rgba(128, 128, 128, 0.08), 3px 3px 2px 2px rgba(128, 128, 128, 0.06);
}

button:hover {
  color: var(--colorLightGrey);
  background-color: var(--colorDarkGrey);
}

/* Single product page */

.single-product-container {
  width: 80%;
  margin: 30px auto;
}

.product-detail-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  gap: 30px;
  margin: 30px auto;
  background-color: var(--colorLightGrey);
  border: 1px solid rgba(200, 200, 200, 0.2);
  box-shadow: 2px 2px 1px 1px rgba(128, 128, 128, 0.08), 3px 3px 2px 2px rgba(128, 128, 128, 0.06);
}

.product-detail-container > div {
  margin: 40px 25px;
}

.detail-cover-container {
  width: 360px;
  height: 480px;
  object-fit: contain;
  margin: auto;
}

.detail-cover-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin: auto;
}

.product-detail-basic div{
  margin: 5px 0;
}

.book-name {
  font-weight: bold;
}

.unavailable-data {
  color: red;
}

.detail-images-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 1em;
  padding: 2em;
  background-color: white;
  border: 2px solid rgba(200, 200, 200, 0.2);
}

img.each-detail-image {
  width: 200px;
  object-fit: contain;
  transition: transform 0.3s;
  box-shadow: 2px 2px 1px 1px rgba(128, 128, 128, 0.15), 4px 4px 2px 2px rgba(128, 128, 128, 0.1);
}

img.each-detail-image:hover {
  transform: scale(1.03);
}

/* All products page */

.all-products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 30px auto;
  width: 80%;
}

.each-product-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 500px;
  transition: transform 0.3s;
  background-color: #f9f9f9;
  border: 1px solid rgba(200, 200, 200, 0.2);
  box-shadow: 2px 2px 1px 1px rgba(128, 128, 128, 0.08), 3px 3px 2px 2px rgba(107, 107, 107, 0.06);
}

.each-product-container:hover {
  transform: scale(1.03);
}

.coverImage {
  width: 100%;
  height: 60%;
  object-fit: contain;
  margin: 10px auto 15px;
}

.product-basic-info {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.catalog-info {
  display: flex;
  flex-direction: column;
  padding: 2px 15px;
}

.learn-more {
  font-weight: 600;
  color: var(--colorNavy);
}